.ml5 {
    position: relative;
    font-weight: 300;
    /*font-size: 4.5em;*/
    font-size: 6em;
    color: #402d2d;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.ml5 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.20em;
    line-height: 1em;
}

.ml5 .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #402d2d;
    /*transform-origin: 0.5 0;*/
}

.ml5 .ampersand {
    font-family: Baskerville, serif;
    /*font-style: italic;*/
    font-weight: 400;
    width: 1em;
    margin-right: -0.1em;
    margin-left: -0.1em;
}

.ml5 .letters {
    display: inline-block;
    opacity: 0;
    font-family: Century;
    line-height: 120%;
}

.ml2 {
    font-weight: 300;
    font-family: serif;
    font-size: 300%;
    padding-left: 50px;
    padding-right: 50px;
}

.ml2 .letter {
    display: inline-block;
    /*line-height: 1em;*/
    opacity: 0;
}

.ml2 .apps {
    display: inline-block;
    line-height: 1em;
    opacity: 0;
    font-size: 60%;
    padding-left: 50px;
    padding-right: 50px;
}

